extends base

block content 
    div#videoContainer(data-id=video._id)
        if isHeroku === false
            video(src="/"+video.fileUrl)(data-id=video._id)
        else
            video(src=video.fileUrl)
        div#videoControls.videoControls
            div.videoControls__play
                span#play.videoControls__playBtn 
                    i.fas.fa-play
                div.videoControls__time 
                    span#currnenTime 00:00
                    span   /  
                    span#totalTime
            input(type="range", step="1", value=0, min="0")#timeline.videoControls__timeline
            div.videoControls__volume
                input(type="range", step="0.1", value=0.5, min="0", max="1")#volume
                span#mute 
                    i.fas.fa-volume-up
            div
                span#fullScreen
                    i.fas.fa-expand

    div.video__data
        p.video__title=video.title
            div.video__view-createdAt
                span.video__views 조회수 #{video.meta.views} 회 • 
                span.video__createdAt=new Date(video.createdAt).toLocaleDateString("ko-kr", {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})
        a(href=`/users/${video.owner._id}`).video__owner
            if isHeroku === false
                img.avatar(src="/"+video.owner.avatarUrl)
            else 
                img.avatar(src=video.owner.avatarUrl)
            span=video.owner.name
        if String(video.owner._id) === String(loggedInUser._id)
            div.video__Edit
                a(href=`${video.id}/edit`) Edit Video
                a(href=`${video.id}/delete`) Delete Video

    if loggedIn
        div.video__add-comments
            form.video__comment-form#commentForm
                textarea(rows="3", placeholder="write a nico comment.")#textarea
                button 댓글

    div.video__comments 
        ul 
            each comment in video.comments.reverse()
                li.video__comment#commentContainer(data-id=comment.id)
                    a(href=`/users/${video.owner._id}`)
                        if isHeroku === false
                            img.avatar(src="/"+comment.avatarUrl)
                        else
                            img.avatar(src=comment.avatarUrl)
                        span.comment__name#comment__name=comment.name
                    span.comment__text#comment__text  #{comment.text}
                    if String(comment.owner) === String(loggedInUser._id)
                        span.delBtn#delBtn  ❌


block scripts 
    script(src="/static/js/videoPlayer.js")
    if loggedIn
        script(src="/static/js/commentSection.js")